/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  position: relative;
  display: grid;
  flex-shrink: 0;
  align-content:center;
  outline-offset: -1px;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  background:var(--background-color);
  background-image: var(--header-background-image,  url(../images/cover-image.png));
  background-repeat: no-repeat;
  background-position: center;   
  background-size: cover;
  background-attachment: fixed;
  max-inline-size: 1024px;
  min-inline-size: 375px;
}

/*//////////////////////////// HEADER \\\\\\\\\\\\\\\\\\\\\\\\\*/
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size:100vh;
}
  
.header__noteg-text  {
  position: absolute;
  top: 20px;
  right: 29px;
  visibility: var(--rec-visibility);
  color: rgb(255, 0, 112);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;
}
  
.header__noteg-text::after  {
  content: '';
  position: relative;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px rgb(255, 0, 112);
  background: rgb(255, 0, 112);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  block-size: 100%;  
}

.decorated-zone::before  {
  content: '';
  position: absolute;
  justify-self: end;
  align-self: start;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: auto;
  border-top: 1px solid var(--buttton-color);
  border-right: 1px solid var(--buttton-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after  {
  content: '';
  position: absolute;
  justify-self: start;
  align-self: end;
  margin-bottom: 20px;
  margin-left: 20px;
  border-bottom: 1px solid var(--buttton-color);
  border-left: 1px solid var(--buttton-color);
  inline-size: 25px;
  block-size: 25px;
}

/*//////// КНОПКИ \\\\\\\\*/

.header__theme-menu {
  display: grid;
  justify-self: center;
  align-self: start; 
  margin-top: 20px;
}

.header__theme-menu-list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  list-style-type: none;
}

.header__theme-menu-item {
display: block;
text-align: center;
}

.header__theme-menu-button {
  position: relative;
  display: block;
  border: none;
  padding: 2px 14px 2px 13px;
  vertical-align: middle;
  color: var(--buttton-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  text-transform: lowercase;
  background-color: inherit;
  cursor: pointer;
}

.header__theme-menu-button_active {
  box-sizing: border-box;
  outline: 1px solid var(--buttton-color);
  outline-offset: -1px;
  pointer-events: none;
}

/* Обводка текста и изменение прозрачности при наведении курсора*/
.header__theme-menu-button:hover {
  box-sizing: border-box;
  outline: 1px solid var(--buttton-color);
  opacity: 0.4;
}

/*убираем подчеркивание текста при табуляции*/
.header__theme-menu-button:focus {
  outline: none;
}

/* подчеркиваем текст при табуляции*/
.header__theme-menu-button:focus-visible {
  box-shadow:  0 1px 0  0  var(--buttton-color);
} 

/*//////// ЗАГОЛОВОК \\\\\\\\*/
.heading {
  align-self:center;
  color: var(--heading-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 157px;
  letter-spacing: 0;
  text-shadow:  4px 4px var(--heading-color-shadow);
}

.heading_header {
  justify-self: start;
  line-height: 129.53px;
  text-align: left;
}

/*//////// ТЕКСТ ЗАГОЛОВКА \\\\\\\\*/
.header__description {
  justify-self: end;
  align-self: center;
  max-width: 491px;
  margin-top: -20px;
  margin-right: 20px;
  color: var(--heading-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  text-align: left;
  background-color: var(--accent-color);   
}


/*///////////////////////////////// MAIN \\\\\\\\\\\\\\\\\\\\\\\*/
/*//////// Карточка 1 типа \\\\\\\\*/

.section {
  position: relative;
  display: grid;
  gap: 20px;
  margin: 80px 20px 0;
}

.section__type-one {
  grid-template-columns: 32% 1fr;
}

.section-title {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  text-align: left;
}

.article {
  grid-column: 2 / 3;
}

.card-subtitle {
  color: var(--subtitle-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  text-align: left;
  background: var(--accent-color);
}

.card-text {
  margin-top: 10px;
  color: var(--text-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  text-align: left;
}

.card-text-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.card-text-link:hover {
  border-block-end: 1px solid var(--text-color);
}

.card-text-link:focus {
  outline: none;
}

.card-text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.card-item {
  /* margin-top: 20px; */
  color: var(--subtitle-text-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  text-align: left;
  background: var(--accent-color);
}

.section__type-one:nth-of-type(1) {
  margin: 60px 20px 0;
}

.card-item-margin {
  margin-top: 20px;
}


/*//////// Карточки 2 типа \\\\\\\\*/

.section__type-two {
  grid-row: 1 / 1;
  /* gap: 20px; */
  grid-template: 1fr / repeat(3, 1fr);
}

.article__a {
  grid-column: 1 / 1;
}

.article__b {
  grid-column: 2 / 2;
}

.article__c {
  grid-column: 3 / 3;
}

/*//////// Карточки Картинки \\\\\\\\*/
.section__card-picture {
  display: grid;
  /* grid-auto-flow: row; */
  gap: 20px;
  margin: 80px 20px 60px;
  /* grid-template-columns:repeat(3, 1fr); */
  grid-template: min-content 23.83% 28.88% 39.66% / repeat(3, 1fr);
}

.card-subtitle__picture {
  grid-column-start: span 3;
} 

.gallery-picture {
  display: block;  
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.picture-sky {
  grid-column: 1 / 3;
}

.picture-food {
  grid-column: 3;
  grid-row: 2 / 4;
}

.picture-music {
  grid-row: 3 / 5;
}

.picture-walk {
  grid-column: 2 / 4;
}

/*/////////////////////FOOTER\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.footer {
  display: grid;
  min-block-size: 100vh;  
}

.heading_footer {
  justify-self: center;
  text-align: center;
  text-shadow: 2px 2px 0 var(--heading-color-shadow);
}



/*/////////////////// Медиазапросы \\\\\\\\\\\\\\\\\\\\\\\*/ 

@media (768px <= width <= 1024px) {
/*Заголовок Header*/
  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height:  clamp(6.1875rem, 0.4688rem + 11.9141vw, 8.09375rem);
  }

/*Текст Header*/
  .header__description {
    width: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
  }
}


@media (375px <= width <= 768px) {
/*положение кнопок на Header*/
  .header__theme-menu {
    justify-self: end;
    align-self: center; 
    margin-right: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  }

  .header__theme-menu-list {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

/*Заголовок Header*/
  .heading {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem);
  }

/*Положение колонок в секции второго типа*/
  .section__type-two {
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1 /  1; 
  }
  
  .article__a  {
    grid-column: 1 / span 3;
  }
  
  .article__b {
    grid-column: 1 / span 3;
  }
  
  .article__c {
    grid-column: 1 / span 3;
  }

  .section__card-picture {
    grid-template-rows: min-content 23.33% 27.95% 38.64%;
  }
} 


@media (375px <= width < 768px) {

/*положение кнопок на Header*/  
  .header__theme-menu {
    margin-top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  }

/*положение декоративных уголков на Header*/ 
  .decorated-zone::before {
    margin-top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
    margin-right: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  }

  .decorated-zone::after {
    margin-bottom: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
    margin-left: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  }

/*Заголовок Header*/
  .heading {
  margin-left: clamp(0.625rem, 1.2229rem + -2.551vw, 0rem);
  }

  .header__description {
    width: clamp(22.1875rem, 21.6508rem + 2.2901vw, 22.75rem);
    margin-top: clamp(-0.625rem, -0.3261rem + -1.2755vw, -0.9375rem);
    margin-right: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  }
  
/* Изменение свойств секций */
  .section {
   display: block;
    column-gap: 0;
    margin: 50px 10px 0;  
  }
  .section__type-one:nth-of-type(1) {
    margin: 40px 10px 0;
  }
 
  .article {
    margin-top: 20px;
  }
  
  .section__card-picture {
    display: block;
    margin: 50px 10px 40px; 
  }
 
  .gallery-picture {
    margin-top: 10px;
    object-fit: contain;
    inline-size: 100%;
  }  

  .header__noteg-text  {
    position: absolute;
    top: 10px;
    right: 19px;
  }
} 