/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Переменные светлой темы */
  --buttton-color: #353430;
  --heading-color: #ffc2e6;
  --heading-color-shadow: #ff0070;
  --heading-text-color: #353430;
  --background-color: #fff1f7;
  --title-text-color: #353430;
  --accent-color: #ff8dcb;
  --subtitle-text-color: #353430;
  --text-color: #353430;
  --header-background-image: url(../images/cover-image-light.png);
  --rec-visibility: hidden;
}